.cardimage, .posterfolio, .trendscol {
  border-radius: 10px;
  width: 200px;
  height: 200px;
 }
 .white {
    color: white;

 }
  .white:hover{
    text-decoration: none;
    color:white;
  }

.logo {
  width: 8rem;
  animation: App-logo-spin  2s linear;
  pointer-events: none;
} 

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }  
  100% {
    transform: rotate(360deg);
  }
}
 
h2 {
  text-align: center;
  color: white;
  margin-bottom: 50px;
  margin-top: 50px;
}
h3, h4, h5 {
  color: grey;
  margin-top: 40px;
  margin-bottom: 20px;
}
body, .moviecard{
  background-color: black;
}
.btn-black {
color: black;
display: none;
}
.gamebutton {
  font-size: 40px;
  display: flex;
  justify-content: space-around;
}
.gamebutton:hover {
text-underline-position: none;
}

.restartbutton {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
.eggnodisplay {
  visibility: hidden;
}

.eggimage {
  width: 200px;
  height: 200px;
}

.image {
  display:flex;
  justify-content: space-around;
  margin: auto;
}

.marge{
  margin-bottom:150px;
}

.float{
  float:right;
  opacity:0;
}

.float:hover{
  opacity:1;
}
.carousel {
  margin-bottom: 50px;
}

.congrats{
  color: white;
  text-align:center;
  margin-bottom:50px;
}
