.cardimage, .posterfolio, .trendscol {
  border-radius: 15px;
  width: 200px;
  height: 200px;
 }

body, .moviecard{
  background-color: black;
}
.btn-black {
color: black;
display: none;
}

.eggnodisplay {
  visibility: hidden;
}

.eggimage {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-around;
}

