.cardimage, .posterfolio, .trendscol {
  border-radius: 10px;
  width: 200px;
  height: 200px;
 }
 .white {
    color: white;

 }
  .white:hover{
    text-decoration: none;
    color:white;
  }
 
h2 {
  text-align: center;
  color: white;
  margin-bottom: 150px;
  margin-top: 50px;
}
h3, h4, h5 {
  color: grey;
  margin-top: 40px;
  margin-bottom: 20px;
}
body, .moviecard{
  background-color: black;
}
.btn-black {
color: black;
display: none;
}
.gamebutton {
  font-size: 40px;
  display: flex;
  justify-content: space-around;
}
.gamebutton:hover {
text-underline-position: none;
}

.eggnodisplay {
  visibility: hidden;
}

.eggimage {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-around;
}

.carousel {
  margin-bottom: 50px;
}